.title-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.radio-widget-card-root {
  background: rgba(27, 27, 27, 0.65);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid var(--border);
  padding: 5px;
  border-radius: 11px;
  box-shadow: var(--shadow-sm);
}

.title-text .title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #ffffff;
  opacity: 0.8;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 18px;
}

.art {
  width: 600px; 
  height: 600px; // чтобы было ровно, квадрат 
  object-fit: cover;
  border-radius: 8px; // чтобы картинка не "тянулась" из-за stretch
  align-self: center;
}

:host ::ng-deep .player-btn.p-button {
  background: var(--accent);
  border-color: var(--accent);
}

:host ::ng-deep .player-btn.p-button:hover {
  background: var(--accent);
  border-color: var(--accent);
}

:host ::ng-deep .p-slider .p-slider-range {
  background: var(--accent);
}
:host ::ng-deep .p-slider .p-slider-handle {
  border-color: var(--accent);
}


:host ::ng-deep .title-row .p-button.p-button-text {
  color: var(--accent);              /* или свой цвет */
}

:host ::ng-deep .title-row .p-button.p-button-text:hover {
  background: rgba(34, 197, 94, 0.12);  /* hover-подложка, подстрой */
}




.player-btn.p-button {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 0;
}

.player-btn .p-button-icon {
  font-size: 1.1rem;
}

.controls {
  margin-top: 25px;
}

.vol {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;   /* <-- было center */ // <-- центрируем всю линию
  gap: 10px;
}

.dub-slider { width: 160px; }


.vol-ico {
  font-size: 1.1rem;
  opacity: 0.75;
}

.vol :host ::ng-deep .dub-slider {
  width: 160px;              // <-- уже ползунок (меняй цифру)
}

.vol-value {
  width: 28px;               // чтобы число не прыгало
  text-align: right;
  opacity: 0.7;
}

.vol-value {
  width: 14px;
  text-align: right;
}

@media (max-width: 640px) {
  .vol {
    grid-template-columns: auto 1fr auto;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .controls {
    justify-content: center;
  }
}

.info {
  
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;   // по вертикали
  align-items: center;       // по горизонтали (блоки по центру)
  text-align: center;        // текст по центру
  margin-top: 50;             // убери твой margin-top:12px, он сбивает центр
  padding-left: 0;    
  padding: 0 40px;     
    // убери padding-left:7px, он тоже уводит влево
}

.track {
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.25;
}

.meta {
  margin-top: 6px;
  opacity: 0.7;
}

.chat {
  margin-top: 40px;
}