<p-card class="radio-widget-card-root"> <ng-template pTemplate="title">
    <div class="title-row">
      <div class="title-text">
        <div class="title">Now Playing</div>
      </div> <a pButton class="p-button-text" (click)="store.loadNowPlaying()">Refresh</a>
    </div>
  </ng-template> <ng-template pTemplate="content"> <ng-container *ngIf="(loading$ | async); else loaded">
      <div class="skeleton-row"> <p-skeleton width="96px" height="96px"></p-skeleton>
        <div class="skeleton-text"> <p-skeleton width="70%" height="18px"></p-skeleton> <p-skeleton width="40%"
            height="14px"></p-skeleton> </div>
      </div>
    </ng-container> <ng-template #loaded> <ng-container *ngIf="(error$ | async) as err; else ok">
        <div>{{ err }}</div>
      </ng-container> <ng-template #ok> <ng-container *ngIf="(now$ | async) as now; else nothing">
          <div class="row" *ngIf="now?.playing; else nothing"> <img *ngIf="now.artworkUrl" class="art"
              [src]="now.artworkUrl" alt="Artwork" />
            <div class="info">
              <div class="track">{{ now.title || 'Unknown Track' }}</div>
              <div class="meta">Playlist: {{ now.playlistTitle || 'None' }}</div>


              <div class="volume control">
                <div class="controls"> <button pButton pRipple type="button"
                    class="p-button-rounded p-button-success p-button-lg p-button-icon-only player-btn"
                    [icon]="(isPlaying$ | async) ? 'pi pi-pause' : 'pi pi-play'" (click)="toggleRadio()"
                    [attr.aria-label]="(isPlaying$ | async) ? 'Pause radio' : 'Start radio'"> </button>
                  <div class="vol">
                    <i class="pi pi-volume-up vol-ico" aria-hidden="true"></i>

                    <!-- We can use ngModel with an async pipe via a temporary variable or an event, but it's simpler to use (onChange) for the slider -->
                    <p-slider styleClass="dub-slider" [ngModel]="volume$ | async" [min]="0" [max]="100"
                      (ngModelChange)="onVolumeChange($event)">
                    </p-slider>

                    <span class="vol-value">{{ volume$ | async }}</span>
                  </div>

                </div>
              </div>

            </div>
          </div>
        </ng-container> <ng-template #nothing>
          <div class="empty">Nothing is playing right now.</div>
        </ng-template>


        <div class="chat"> <app-chat></app-chat> </div>
      </ng-template>
    </ng-template>
  </ng-template>

</p-card>