<header class="header">
  <div class="header__inner">
    <a routerLink="/radio" class="logo">Dubcast</a>
    <app-mini-player class="header__mini-player"></app-mini-player>
    <app-online-listeners class="header__online"></app-online-listeners>


    <nav class="nav">
      <a routerLink="/radio" class="nav__link">Radio</a>
      <a routerLink="/playlists" class="nav__link">Playlists</a>

      <!-- Гость -->
      <ng-container *ngIf="!(isAuth$ | async); else authed">
        <a routerLink="/login" class="nav__link">Login</a>
        <a routerLink="/register" class="nav__link">Register</a>
      </ng-container>

      <!-- Залогинен -->
      <ng-template #authed>
        <span class="nav__user">
          Logged in as <b>{{ displayName$ | async }}</b>
          <small *ngIf="(isAuth$ | async) && !(hasUsername$ | async)" class="no-username"
            title="У вас не задан username. Задайте его в Profile.">
            (no username)
          </small>
        </span>

        <a routerLink="/profile" class="nav__link">Profile</a>
        <button type="button" class="nav__link nav__btn" (click)="logout()">Logout</button>
      </ng-template>
    </nav>
  </div>
</header>

<main class="main">
  <router-outlet></router-outlet>
</main>

<footer class="footer">
  <div class="footer__inner">
    &copy; 2024 Dubcast. All rights reserved.
  </div>